{% extends "base_admin.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}
{% load hitcount_tags %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
  <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-6 align-self-center">
          <h3>Ecommerce Dashboard</h3>
        </div>
        <div class="col-6 text-right font-12"> <a href="index.html">Admin</a> &gt;  Ecommerce Dashboard</div>
        <div class="">
          <button class="right-side-toggle waves-effect waves-light bg-primary btn btn-circle btn-sm pull-right ml-10"><i class="ti-settings text-white"></i></button>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Info box -->
      <!-- ============================================================== -->
      <div class="row ">
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="d-flex pa-10 no-block">
                <div class="align-slef-center ">
                  <h2 class="counter text-themecolor"><span class="counter-count">{{ ads.count }}</span></h2>
                  <h6 class="text-muted mb-0 text-uppercase">Total products</h6>
                </div>
                <div class="align-self-center display-6 ml-auto text-themecolor"><i class="icon-Over-Time"></i> </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="d-flex pa-10 no-block">
                <div class="align-slef-center ">
                  <h2 class="counter text-themecolor"><span class="counter-count">{{ users.count }}</span></h2>
                  <h6 class="text-muted mb-0 text-uppercase">Users</h6>
                </div>
                <div class="align-self-center display-6 ml-auto text-themecolor"><i class="icon-Big-Data"></i></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="d-flex pa-10 no-block">
                <div class="align-slef-center ">
                  <h2 class="counter text-themecolor"><span class="counter-count">{{ order.count }}</span></h2>
                  <h6 class="text-muted mb-0 text-uppercase">Orders</h6>
                </div>
                <div class="align-self-center display-6 ml-auto text-themecolor"><i class="icon-Arrow-Refresh"></i></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="d-flex pa-10 no-block">
                <div class="align-slef-center ">
                  <h2 class="counter text-themecolor"><span class="counter-count">{{ blog.count }}</span></h2>
                  <h6 class="text-muted mb-0 text-uppercase">Blogs</h6>
                </div>
                <div class="align-self-center display-6 ml-auto text-themecolor"><i class="ti-shopping-cart-full"></i></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-body">
                <div id="container" style="width: 100%;">
                    <canvas id="category-chart" data-url="{% url 'home:category_chart' %}"></canvas>
                 </div>
{#              <div id="morris-bar-chart"></div>#}
            </div>
          </div>
        </div>
{#        <div class="col-lg-6 col-md-6">#}
{#          <div class="card">#}
{#            <div class="card-body">#}
{#              <div class="panel-wrapper">#}
{#                <div class="d-flex m-b-10 no-block">#}
{#                  <h5 class="card-title m-b-0 align-self-center">Top product sales</h5>#}
{#                  <div class="ml-auto text-light-blue"> <a href="#" class="pull-left text-light-blue inline-block refresh mr-15"> <i class="fas fa-sync"></i> Update </a> </div>#}
{#                </div>#}
{#                <div class="table-responsive">#}
{#                  <table class="table color-table">#}
{#                    <tbody>#}
{#                      <tr>#}
{#                        <td><img src="../assets/images/product/pro1.jpg" alt="" title=""></td>#}
{#                        <td><span class="font-semibold font-16">Notebook Asus Aspire</span> <br>#}
{#                          $375</td>#}
{#                        <td><span class="font-semibold font-20 text-blue-light">$9375</span> <br>#}
{#                          25 sales</td>#}
{#                        <td><div id="sparkline16"></div></td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td><img src="../assets/images/product/pro2.jpg" alt="" title=""></td>#}
{#                        <td><span class="font-semibold font-16">Notebook Asus Aspire</span> <br>#}
{#                          $375</td>#}
{#                        <td><span class="font-semibold font-20 text-blue-light">$9375</span> <br>#}
{#                          25 sales</td>#}
{#                        <td><div id="sparkline17"></div></td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td><img src="../assets/images/product/pro3.jpg" alt="" title=""></td>#}
{#                        <td><span class="font-semibold font-16">Notebook Asus Aspire</span> <br>#}
{#                          $375</td>#}
{#                        <td><span class="font-semibold font-20 text-blue-light">$9375</span><br>#}
{#                          25 sales</td>#}
{#                        <td><div id="sparkline18"></div></td>#}
{#                      </tr>#}
{#                    </tbody>#}
{#                  </table>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
      </div>

    </div>
  <!-- /.content-wrapper -->
{% endblock %}