{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}
{% load hitcount_tags %}
{% load humanize %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ratings %}


{% block title %}Detail{% endblock %}

{% block content %}

   <!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h6>Product Detail</h6>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="{% url "home:home" %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'product_search:product_filter' %}?category={{ ad.category }}">{{ ad.category }}</a></li>
                    <li class="breadcrumb-item active">{{ ad.title }}</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

<!-- START SECTION SHOP -->
<div class="section">
	<div class="container">
		<div class="row">
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
              <div class="product-image">

                   {% for adv in ad.get_second_image %}
                        <div class="product_img_box">

{#                         {% if adv.product_image %}#}
                            {% thumbnail adv.product_image "540x540" crop="10px 10px"  as im %}
                                <img id="product_img" style="margin:{{ im|margin:"540x540" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" data-zoom-image="{{ im.url }}" alt="" />
                            {% endthumbnail %}
                            <a href="{{adv.product_image.url}}" class="product_img_zoom" title="Zoom">
                                <span class="linearicons-zoom-in"></span>
                            </a>
{#                         {% endif %}#}

                        </div>
                   {% endfor %}

                    <div id="pr_item_gallery" class="product_gallery_item slick_slider" data-slides-to-show="4" data-slides-to-scroll="1">
                        {% for adv2 in adsimage %}
                            <div class="item">
                                <a href="#" class="product_gallery_item" data-image="{{adv2.product_image.url}}" data-zoom-image="{{adv2.product_image.url}}">
                                   {% thumbnail adv2.product_image "128x135" crop="center"  as im %}
                                      <img  style="margin:{{ im|margin:"128x135" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="img-fluid" alt="Alt">
                                   {% endthumbnail %}
                                 </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="pr_detail">
                    <div class="product_description">
                        <h4 class="product_title">{{ ad.title }}</h4>
                        <div class="product_price">
                            {% if ad.discount_price %}
                              <span class="price">₦{{ ad.discount_price|intcomma}}</span>
                              <del>₦{{ ad.price|intcomma}}</del>
                             {% else %}
                              <span class="price">₦{{ ad.price|intcomma}}</span>
                            {% endif %}
                        </div>
                        <div class="rating_wrap" >

                             <span><i class="fas fa-star" {% if rating.average > 0 %} style="color: orange"{% endif %}></i></span>
                             <span><i class="fas fa-star" {% if rating.average > 1 %} style="color: orange"{% endif %}></i></span>
                             <span><i class="fas fa-star" {% if rating.average > 2 %} style="color: orange"{% endif %}></i></span>
                             <span><i class="fas fa-star" {% if rating.average > 3 %} style="color: orange"{% endif %}></i></span>
                             <span><i class="fas fa-star" {% if rating.average > 4 %} style="color: orange"{% endif %}></i></span>

                            <span class="rating_num">({{ rating.count }})</span>
                        </div>
                        <div class="pr_desc">
                            <p>{{ ad.description.capitalize }}</p>
                        </div>
                        <div class="product_sort_info">
                            <ul>
                                <li><i class="linearicons-shield-check"></i> 1 Year AL Jazeera Brand Warranty</li>
                                <li><i class="linearicons-sync"></i> 30 Day Return Policy</li>
                                <li><i class="linearicons-bag-dollar"></i> Cash on Delivery available</li>
                            </ul>
                        </div>
                        <div class="pr_switch_wrap">
                            <span class="switch_lable">Size</span>
                            <div class="product_size_switch">
                                {% for size in ad.size.all %}
                                    <span>{{ size }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="cart_extra">
                        <div class="cart_btn">
                            <button class="btn btn-fill-out btn-addtocart" type="button"><i class="icon-basket-loaded"></i> Add to cart</button>
                            {% if is_favourite %}
                               <a href="{% url 'home:favourite_ad' id=ad.id %}" class="add_wishlist"> <i class="fas fa-heart" style="color:red"></i></a>
                            {% else %}
                                 <a href="{% url 'home:favourite_ad' id=ad.id %}" class="add_wishlist"> <i class="icon-heart"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <hr />
                    <ul class="product-meta">
                        <li>Category: <a>{{ ad.category }}</a></li>
                    </ul>

                    <div class="product_share">
                        <span>Share:</span>
                        <ul class="social_icons">
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{request.built_absolute_url}} "><i class="ion-social-facebook"></i></a></li>
                            <li><a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code
                                        ...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20
                                        {{request.built_absolute_url}}"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/share?url= {{request.built_absolute_url}}"><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-12">
            	<div class="large_divider clearfix"></div>
            </div>
        </div>
        <div class="row">
        	<div class="col-12">
            	<div class="tab-style3">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="Description-tab" data-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">Description</a>
                      	</li>
                      	<li class="nav-item">
                        	<a class="nav-link" id="Reviews-tab" data-toggle="tab" href="#Reviews" role="tab" aria-controls="Reviews" aria-selected="false">Reviews ({{ rating.count }})</a>
                      	</li>
                    </ul>
                	<div class="tab-content shop_info_tab">
                      	<div class="tab-pane fade show active" id="Description" role="tabpanel" aria-labelledby="Description-tab">
                        	<p>{{ ad.description.capitalize }}</p>
                      	</div>
                      	<div class="tab-pane fade" id="Reviews" role="tabpanel" aria-labelledby="Reviews-tab">
                        	<div class="comments">
                            	<h5 class="product_tab_title">{{ rating.count }} Review For <span>{{ ad.title }}</span></h5>
                                <ul class="list_none comment_list mt-4">
                                    <li>
                                        {% for ur in user_rating %}
                                            <div class="comment_img">
                                                {% if ur.user.profile.photo %}
                                                     <img src="{{ ur.user.profile.photo.url }}" alt="user" class="" style="border-radius:50%;" width="100px" height="100px" />
                                                    {% else %}
                                                     <img src="{% static 'images/users/1.jpg' %}" alt="user" class="" style="border-radius:50%;" width="100px" height="100px" />
                                                 {% endif %}
                                            </div>
                                            <div class="comment_block">
                                                <div class="rating_wrap">

                                                    <span><i class="fas fa-star" {% if ur.score > 0 %} style="color: orange"{% endif %}></i></span>
                                                     <span><i class="fas fa-star" {% if ur.score > 1 %} style="color: orange"{% endif %}></i></span>
                                                     <span><i class="fas fa-star" {% if ur.score > 2 %} style="color: orange"{% endif %}></i></span>
                                                     <span><i class="fas fa-star" {% if ur.score > 3 %} style="color: orange"{% endif %}></i></span>
                                                     <span><i class="fas fa-star" {% if ur.score > 4 %} style="color: orange"{% endif %}></i></span>

                                                </div>
                                                <p class="customer_meta">
                                                    <span class="review_author">{{ ur.user.get_full_name }}</span>
                                                    <span class="comment-date">{{ ur.created }}</span>
                                                </p>
                                            </div>
                                        {% endfor %}
                                    </li>
                                </ul>
                        	</div>
                            <div class="review_form field_form">
                                <h5>Add a review</h5>
                                <form class="row mt-3">
                                    <div class="form-group col-12">
                                        <div class="star_rating">
                                            {% ratings ad %}
                                        </div>
                                    </div>
{#                                    <div class="form-group col-12">#}
{#                                        <textarea required="required" placeholder="Your review *" class="form-control" name="message" rows="4"></textarea>#}
{#                                    </div>#}
{##}
{#                                    <div class="form-group col-12">#}
{#                                        <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">Submit Review</button>#}
{#                                    </div>#}
                                </form>
                            </div>
                      	</div>
                	</div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-12">
            	<div class="small_divider"></div>
            	<div class="divider"></div>
                <div class="medium_divider"></div>
            </div>
        </div>
        <div class="row">
        	<div class="col-12">
            	<div class="heading_s1">
                	<h3>Releted Products</h3>
                </div>
            	<div class="releted_product_slider carousel_slider owl-carousel owl-theme" data-margin="20" data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
                    {% for similar in ad_similar %}
                	    <div class="item">
                        <div class="product">
                        <span class="{{ similar.get_label_display }}">{{ similar.status }}</span>
                            <div class="product_img">
                                <a href="{{ similar.get_absolute_url }}">
                                    {% for image in similar.get_second_image %}
                                        {% thumbnail image.product_image "255x283" crop="10px 10px"  as im %}
                                            <img  style="margin:{{ im|margin:"255x283" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}"/>
                                        {% endthumbnail %}
                                    {% endfor %}
                                </a>
                                <div class="product_action_box" id = "part{{ similar.id }}">
                                    {% if request.user.is_authenticated %}
                                        {% if request.user in similar.favourite.all %}
                                            {% csrf_token %}
                                             <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="#" id = "cart" data-id="{{ similar.id }}"><i class="icon-basket-loaded"></i> Add To Cart</a></li>
                                                <li><a href="#" id = "wishlist" data-id="{{ similar.id }}"><i class="fas fa-heart" style="color:red"></i></a></li>
                                            </ul>
                                        {% else %}
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="#" id = "cart" data-id="{{ similar.id }}"><i class="icon-basket-loaded"></i> Add To Cart</a></li>
                                                <li><a href="#" id = "wishlist" data-id="{{ similar.id }}"><i class="icon-heart"></i></a></li>
                                            </ul>
                                        {% endif %}
                                    {% else %}
                                        <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="{% url 'home:favourite_ad' id=similar.id %}" id = "cart" data-id="{{ similar.id }}"><i class="icon-basket-loaded"></i> Add To Cart</a></li>
                                                <li><a href="{% url 'home:favourite_ad' id=similar.id %}" id = "wishlist" data-id="{{ similar.id }}"><i class="icon-heart-alt"></i></a></li>
                                            </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a href="{{ similar.get_absolute_url }}">{{ similar.title }}</a></h6>
                                <div class="product_price">
                                    {% if similar.discount_price %}
                                        <span class="price">₦{{ similar.discount_price|intcomma}}</span>
                                        <del>₦{{ similar.discount_price|intcomma}}</del>
                                     {% else %}
                                        <span class="price">₦{{ similar.discount_price|intcomma}}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                       <div class="container-fluid">
                           <h6 style="text-align:center;">No Food found </h6>
                       </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->

<!-- START SECTION SUBSCRIBE NEWSLETTER -->
{% include 'subscribe.html' %}
<!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->


    {% insert_hit_count_js_variables for ad %}
{% endblock %}
{% block favourite %}

{% endblock %}