{% load static %}
{% load cart_template_tags %}

<!-- START HEADER -->
<header class="header_wrap fixed-top header_with_topbar">
    <div class="middle-header dark_skin">
    	<div class="container">
        	<div class="nav_block">
                <a class="navbar-brand" href="{% url "home:home" %}">
                    <img class="logo_light" src="{% static 'assets/images/logo_light.png' %}" alt="logo" />
                    <img class="logo_dark" src="{% static 'assets/images/logo_dark.png' %}" alt="logo" />
                </a>
                <div class="product_search_form">
                    <form method="GET" action="{% url 'product_search:product_filter' %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="custom_select">
                                    <select id="categories" name="category" class="first_null">
                                        <option value="" disabled selected hidden>All Category</option>
                                        {% for cat in categories %}
                                          <option value="{{ cat }}">{{ cat }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <input class="form-control" name="title_contains_query" placeholder="Search Product..." type="text">
                            <button type="submit" class="search_btn"><i class="linearicons-magnifier"></i></button>
                        </div>
                    </form>
                </div>
                 <ul class="navbar-nav attr-nav align-items-left">
                    <li class="pr_search_icon"><a href="javascript:void(0);" class="nav-link pr_search_trigger"><i class="linearicons-magnifier"></i></a></li>
                    <li class="dropdown">
                        {% if user.is_authenticated %}
                            <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#"><i class="linearicons-user"></i> <b>{{ request.user.first_name }}</b></a>
                            <div class="dropdown-menu">
                               <ul>
                                    {% if user.is_superuser %}
                                    <li class="dropdown-item "><a href="{% url "home:dashboard" %}">Dashboard</a></li>
                                    {% endif %}
                                    <li class="dropdown-item "><a href="{% url "profile_display" %}">Profile</a></li>
                                    <li class="dropdown-item "><a href="{% url "password_change" %}">Change Password</a></li>
                                    <hr class="solid" style="border-top: 3px solid #bbb">
                                    <li class="dropdown-item "><a href="{% url "logout" %}">Logout</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </li>
{#                    <li><a href="#" class="nav-link"><i class="linearicons-user"></i></a></li>#}
                    {% if user.is_authenticated %}
                         <li><a href="{% url "home:favourites" %}" class="nav-link"><i class="linearicons-heart"></i><span class="wishlist_count">{{ request.user|wish_item_count }}</span></a></li>
                        <li><a class="nav-link cart_trigger" href="{% url 'cart:order-summary' %}"><i class="linearicons-cart"></i><span class="cart_count">{{ request.user|cart_item_count }}</span></a></li>
                    {% else %}
                        <li><a href="{% url "login" %}" class="nav-link"><span><b>Login</b></span></a></li>
                        <li><a href="{% url "register" %}" class="nav-link"><span><b>Register</b></span></a></li>
                        <li><a href="{% url "home:favourites" %}" class="nav-link"><i class="linearicons-heart"></i><span class="wishlist_count">0</span></a></li>
                       <li><a class="nav-link cart_trigger" href="{% url 'cart:order-summary' %}"><i class="linearicons-cart"></i><span class="cart_count">0</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER -->