{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}

{% block title %}Bookmarked property{% endblock %}

{% block content %}
  <!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1>Wishlist</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="{% url "home:home" %}">Home</a></li>
                    <li class="breadcrumb-item active">Wishlist</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

<!-- START SECTION SHOP -->
<div class="section">
	<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive wishlist_table">
                	<table class="table">
                    	<thead>
                        	<tr>
                            	<th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-stock-status">Stock Status</th>
                                <th class="product-add-to-cart"></th>
                                <th class="product-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for p in favourite_posts %}
                        	<tr>
                            	<td class="product-thumbnail">
                                    {% for images in p.get_second_image %}
                                        {% thumbnail images.product_image "100x111" crop="10px 10px"  as im %}
                                        <a href="{{ p.get_absolute_url }}">
                                            <img   src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class=""  />
                                        </a>
                                        {% endthumbnail %}
                                    {% endfor %}
                                </td>
                                <td class="product-name" data-title="Product"><a href="{{ p.get_absolute_url }}">{{p.title}}</a></td>
                                <td class="product-price" data-title="Price">₦{{ p.price|intcomma}}</td>
                                <td class="product-stock-status" data-title="Stock Status"><span class="badge badge-pill badge-success">{{p.status}}</span></td>
                                <td class="product-add-to-cart">
                                    {% if request.user.is_authenticated %}
                                        {% csrf_token %}
                                        <a href="#" id = "cart" data-id="{{ p.id }}" class="btn btn-fill-out"><i class="icon-basket-loaded"></i><span class="hidden-xs">&nbsp; Add To Cart</span></a>
                                    {% else %}
                                        <a href="{% url 'home:favourite_ad' id=p.id %}" class="btn btn-fill-out"><i class="icon-basket-loaded"></i><span class="hidden-xs">&nbsp; Add To Cart</span></a>
                                    {% endif %}
                                </td>
                                <td class="product-remove" data-title="Remove"><a href="{% url 'home:favourite_delete' id=p.id %}" class="delete" id="delete"><i class="ti-close"></i></a></td>
                            </tr>
                        {% empty %}
                             <tr>
                                <td >
                                    <h3 style="text-align:center;"> No Wishlist Found</h3>
                                </td>
                             </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->

<!-- START SECTION SUBSCRIBE NEWSLETTER -->
{% include 'subscribe.html' %}
<!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->


{% endblock %}