{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}

{% block title %}Bookmarked property{% endblock %}

{% block content %}
     <!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1>Checkout</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="{% url "home:home" %}">Home</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

<!-- START SECTION SHOP -->
<div class="section">
	<div class="container">
        <div class="row">
        	<div class="col-md-6">
            	<div class="heading_s1">
            		<h4>Billing Details</h4>
                </div>
                <form action="." id="signup_form" method="post" data-cities-url="{% url 'order:ajax_load_cities' %}" class="order-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="street_address" required="" placeholder="Address ">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="apartment_address" required="" placeholder="Address line2">
                    </div>
                    <div class="form-group">
                        <div class="custom_select">
                            <select id="id_state" class="form-control" name="state">
                                <option value="">State</option>
                                {% for state in states %}
                                  <option value="{{state.id}}">
                                      {{ state }}
                                  </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom_select">
                            <select required id="id_city" class="form-control" name="city">
                                <option value="">City</option>
                                {% for cit in cities %}
                                  <option value="{{cit.id}}">
                                      {{ cit }}
                                  </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="chek-form">
                            <div class="custome-checkbox">
                                <input {% if form.save_info.value %}checked{% endif %}  type="checkbox" id="id_save_info" name="save_info">
                                <label for="createaccount"><span>Save this information for the next transaction</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="ship_detail">
                    	<div class="form-group">
                    	<div class="chek-form">
                            <div class="custome-checkbox">
                                <input {% if form.same_billing_address.value %}checked{% endif %} type="checkbox" id="id_same_billing_address" name="same_billing_address">
                                <label for="differentaddress"><span>Shipping address is the same as billing address</span></label>
                            </div>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="order_review">
                    <div class="heading_s1">
                        <h4>Your Orders</h4>
                    </div>
                    <div class="table-responsive order_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for order_item in order.items.all %}
                                        <td>{{ order_item.item.title }} <span class="product-qty">x {{ order_item.quantity }}</span></td>
                                        {% if order_item.item.discount_price %}
                                           <td>₦{{ order_item.get_total_discount_item_price|intcomma }}</td>
                                        {% else %}
                                            <td>₦{{ order_item.get_total_item_price |intcomma}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </tbody>
                            <tfoot>
                                {% for order_item in order.items.all %}
                                    <tr>
                                        <th>SubTotal</th>
                                        <td class="product-subtotal">₦{{ order_item.get_final_price|intcomma }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th>Shipping</th>
                                    <td>₦0</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td class="product-subtotal">₦{{ order.get_total|intcomma }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment_method">
                        <div class="heading_s1">
                            <h4>Payment</h4>
                        </div>
                        <div class="payment_option">
                            {% for value, name in form.fields.payment_option.choices %}
                                <div class="custome-radio">
                                    <input  type="radio" id="{{ name }}" name="payment_option" value="{{ value }}">
                                    <label for="{{ name }}">{{ name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="btn btn-fill-out btn-block">Place order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->

<!-- START SECTION SUBSCRIBE NEWSLETTER -->
{% include 'subscribe.html' %}
<!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

{% block script %}
    <script>
        $("#id_state").change(function () {
          var url = $("#signup_form").attr("data-cities-url");  // get the url of the `load_cities` view
          var stateId = $(this).val();  // get the selected country ID from the HTML input

          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'state': stateId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });

        });
      </script>
{% endblock %}
{% endblock %}