{% extends "base_admin.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}

{% block title %}Bookmarked property{% endblock %}

{% block content %}
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-6 align-self-center">
          <h3>Order Status</h3>
        </div>
        <div class="col-md-6 text-right font-12"> <a href="index.html">Admin</a>  &gt;  Food Orders</div>
        <div class="">
          <button class="right-side-toggle waves-effect waves-light bg-primary btn btn-circle btn-sm pull-right ml-10"><i class="ti-settings text-white"></i></button>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card">
            <div class="card-body">
              <div class="d-flex pa-10 no-block row">
              <div class="col-lg-7 col-md-7 col-sm-7 col p-0">
              <h4 class="text-muted mb-10 font-14">Order Placed</h4>
              <h2 class="counter"><span class="counter-count font-30 text-themecolor">1000</span></h2>
              <h6 class="font-12">Today's Order</h6>
              </div>

              <div class="col-lg-5 col-md-5 col-sm-5  col p-0">
              <div class="text-center">
              <input data-plugin="knob" data-width="93%" data-height="93%" data-linecap=round data-fgColor="#ffc8c9" data-displayInput=false  value="40" data-skin="tron" data-angleOffset="180" data-readOnly=true data-thickness=".1" />
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card">
            <div class="card-body">
            <div class="d-flex pa-10 no-block row">
                <div class="col-lg-7 col-md-7 col-sm-7 col  p-0">
                 <h4 class="text-muted mb-10 font-14">Pending Orders</h4>
                  <h2 class="counter"><span class="counter-count font-30 text-themecolor">1344</span></h2>
                  <h6 class="font-12">In Process</h6>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5  col p-0">
                  <div class="text-center">
                    <input data-plugin="knob" data-width="93%" data-height="93%" data-linecap=round data-fgColor="#cfcfff" data-displayInput=false  value="40" data-skin="tron" data-angleOffset="180" data-readOnly=true data-thickness=".1" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card">
            <div class="card-body">
                <div class="d-flex pa-10 no-block row">
                <div class="col-lg-7 col-md-7 col-sm-7 col p-0">
                  <h4 class="text-muted mb-10 font-14">Shipped Orders</h4>
                  <h2 class="counter"><span class="counter-count font-30 text-themecolor">324</span></h2>
                  <h6 class="font-12">Shipped Today</h6>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col p-0">
                  <div class="text-center">
                    <input data-plugin="knob" data-width="93%" data-height="93%" data-linecap=round data-fgColor="#ffd9bd" data-displayInput=false  value="40" data-skin="tron" data-angleOffset="180" data-readOnly=true data-thickness=".1" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card">
            <div class="card-body">
              <div class="d-flex pa-10 no-block row">
                <div class="col-lg-7 col-md-7 col-sm-7 col p-0">
                  <h4 class="text-muted mb-10 font-14">Delivered</h4>
                  <h2 class="counter"><span class="counter-count font-30 text-themecolor">1234</span></h2>
                  <h6 class="font-12">Delivered Today</h6>
                </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col p-0">
                  <div class="text-center">
                  <input data-plugin="knob" data-width="93%" data-height="93%" data-linecap=round data-fgColor="#c6f0b1" data-displayInput=false  value="40" data-skin="tron" data-angleOffset="180" data-readOnly=true data-thickness=".1" />
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table id="example23" class="display nowrap table table-hover">
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Ordered By</th>
                      <th>Email</th>
                      <th>Product</th>
                      <th>Phone</th>
                      <th>Paid</th>
                      <th>Ref Code</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for ord in allorder %}
                    <tr>
                      <td><img src="{{ ord.order.profile.photo.url }}" alt="" title="" class="profile-img2 img-circle"></td>
                      <td>{{ ord.order.first_name }} {{ order.last_name }}</td>
                      <td><a href="mailto:test@example.com">{{ ord.order.email }}</a></td>
                      <td>{{ ord.product.title }}</td>
                      <td>{{ ord.order.phone}}</td>
                      <td><a href="#" class="btn waves-effect waves-light btn-rounded close-bt">{{ ord.order.paid }} </a></td>
                      <td>{{ ord.order.ref_code }}</td>
                      <td>{{ ord.order.date_ordered }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}